.header{
    color: white;
    text-align: center;
}

#yourText{
    float: left;
    width: 100%;

}

#newText{
    float: right;
    width: 100%;

}

.form-control{
    width: 100%;
    padding-bottom: 500px;
    margin-bottom: 0;
}

body{
    background-color: black;
}

.btn-group{
    float: left;
    width: 100%;
}